<head>
  <title>About This Program..</title>
</head>
<body style="background-color:blue;">
<center> <h1 style ="font-family:Verdana;color:red;font-size:40px;">ABOUT THE PROGRAM </h1></center>

<p style="font-family:Verdana;color:black;font-size:15px;">This program is written <b>strictly</b> for demonstration purposes for a
  Sogeti rails training class. This is just one of many things you can do with the fun of rails!</p>

<h2><b>ABOUT THE AUTHOR</b></h2>
<p style ="font-family:Ariel;color:black;font-size:20px;">By the time of the viewing of this page, I will be a recent graduate
of The Ohio State University, with a bachelors in Management Information Systems(MIS). I have programming exp. in C#,VB(.NET),
JAVA,COBOL,Ruby (and various gems), and SQL. I am a recent new consultant here at Sogeti in the <i>Business Information Management (BIM)
practice, but with my development work history and background, I tackle development jobs as well.</i></p>
     </body>