<h1>First App</h1>
<p>
  Thank you for visiting my first app page in Rails! I would like to share with you my favorite webpage
  This is the home page for the
  <a href="https://teampark.sogeti.com/whalecomc5fa8efcbd9935f4f57fa78ba045de5e15cb3c/whalecom0/wikis/home?lang=en_US#/wiki/W428b80dc567d_4fff_9d06_c9cdfa77682b">Ruby Training on Sogeti TeamPark</a>


  <b>HAVE A NICE DAY!</b>
</p>